<div class="container">
  <div class="row">
  <div class="col s12">
    <div class="col s8">
    <h1 style="text-align:left;letter-spacing: 0.5rem;text-transform: uppercase;font-size:24px;color: black;">Pokemon Game</h1>
    <hr>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s3">
    <div class="input-field">
      <!-- <input id="search" type="text" class="validate" [(ngModel)]="searchTerm" > -->
      <!-- <label for="search">Buscar</label> -->
    </div>
  </div>
</div>
<div class="row">
  <div *ngFor="let pokemon of pokemonList" class="poke-element" style="padding: 10px; width: 30%;margin: 8px; display: inline-block;">
    <div>
      <p style="text-align: center;font-weight: 600;">
        {{pokemon.name | uppercase}}
      </p>
      <div *ngIf="pokemon.showDetails">
        <p>Experiencia : {{pokemon.base_Experience}}</p>
        <p>Tamaño : {{pokemon.height}}</p>
        <p>Peso : {{pokemon.weight}}</p>
      </div>
      <div *ngIf="!pokemon.showDetails">
        <button (click)="showDetails(pokemon)" style="cursor: pointer; background-color: #feca1b;font-weight:200 ; color: black;border-color: white;padding: 10px;">Ver Detalles</button>
      </div>
      <div *ngIf="pokemon.showDetails">
        <button (click)="hideDetails(pokemon)" style="cursor: pointer; background-color: #feca1b;font-weight:200 ; color: black;border-color: white;padding: 10px;">Ocultar Detalles</button>
      </div>
    </div>
  </div>
</div>
</div>